/* 
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .padding-lr {
    max-width: 1600px;
    padding: 0 1.5rem;
    margin: 0 auto;
} */

.text {
    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
    line-height: 145%;
    text-align: center;
}

/* --------------------------- */
/* --- HEADER ---*/
/* --------------------------- */

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    filter: saturate(.3);
    color: white;
    text-align: center;
    cursor: default;
    padding: 1.5rem 1.5rem 0.8rem 1.5rem;
}

.header__logo {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;
    font-style: italic;
    letter-spacing: .5px;
    margin-bottom: 4vh;
}

.logo__sign {
    display: block;
    font-size: 1.3em;
}

.header__heading {
    font-family: 'Playfair Display', serif;
    position: relative;
    font-size: 1.9rem;
    padding: 0 10%;
    font-weight: 400;
}

.header__heading::after {
    display: block;
    content: "";
    width: 20%;
    height: 3px;
    transform: translateX(200%);
    background-color: white;
    margin: 2.5vh 0 3.8vh;
}

.header__text {
    padding: 0 5% 50px;
}

.arrow-down {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 12%;
    transform: translate(-50%, 0);
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    animation: arrow-toggle 2s ease-out infinite;
}

@keyframes arrow-toggle {
    50% {
        transform: translate(-50%, 7px);
    }
}

@media (min-width: 500px) and (orientation:landscape) {
    .header__heading {
        font-size: 1.6rem;
    }

    .header__text {
        font-size: .8rem;
        width: 80%;
    }
}

@media (min-width: 730px) {
    .header__text {
        font-size: .9rem;
        width: 80%;
    }

    .arrow-down {
        font-size: 1.2rem;
    }
}

@media (min-width: 730px) and (orientation: portrait) {

    .header__logo {
        font-size: 1.7rem;
    }

    .header__heading {
        font-size: 2.4rem;
    }

    .header__text {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    .header__heading {
        font-size: 2.8rem;
    }

    .header__logo {
        font-size: 1.6rem;
        margin-bottom: 5vh;
    }

    .header__text {
        width: 60%;
        font-size: .9rem;
    }
}

@media (min-width: 1400px) {
    .header__text {
        width: 45%;
    }
}

/* --------------------------- */
/* --- NAVIGATION ---*/
/* --------------------------- */

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 100vh;
    left: 0;
    padding: 10px 1.5rem 0;
    background-color: white;
    z-index: 1;
}

.nav.scrolled {
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px #919191;
    padding: 10px 1.5rem 5px;
}

.nav::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #919191;
    margin-top: 10px;
}

.nav.scrolled::after {
    display: none;
}

.nav__logo {
    align-self: center;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    letter-spacing: .5px;
    font-size: 1.5rem;
    color: #696969;
    text-decoration: none;
    margin-left: 15px;
    transition: .5s;
}

.nav__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #696969;
    border-radius: 5px;
    padding: 5px;
    margin-right: 15px;
}

.nav__icon-bar {
    width: 28px;
    height: 3px;
    background-color: #696969;
    transition: .3s;
}

.nav__icon-bar:first-child.close {
    transform: translateY(8.8px) rotate(225deg);
    background-color: #d07c7c;
}

.nav__icon-bar:nth-child(2).close {
    transform: rotate(225deg);
    background-color: #d07c7c;
}

.nav__icon-bar:last-child.close {
    transform: translateY(-8.8px) rotate(-225deg);
    background-color: #d07c7c;
}

.nav__list {
    display: none;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

.nav__item {
    align-self: center;
    width: 100%;
    text-align: center;
    padding: 7px 0;
}

.nav__link {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #696969;
    overflow: hidden;
    transition: .5s;
}

@media (min-width: 1024px) {

    .nav__icon {
        display: none;
    }

    .nav__logo {
        font-size: 1.7rem;
    }

    .nav__logo:hover {
        color: black;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    .nav__item {
        display: flex;
        justify-content: center;
    }

    .nav__link:hover {
        color: black;
    }

    .nav__link::after {
        display: block;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #d07c7c;
        transform: translateX(-101%);
        margin-top: 5px;
        transition: .3s;
    }

    .nav__link:hover::after {
        transform: translateX(0);
    }
}

/* --------------------------- */
/* --- ABOUT ME ---*/
/* --------------------------- */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    min-height: 300px;
    margin-top: 100px;
}

.secondary__title {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #595959;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin-bottom: 55px;
}

.secondary__title::after {
    display: block;
    content: "";
    width: 70px;
    height: 3px;
    background-color: #d07c7c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.about__text {
    max-width: 700px;
    color: #a7a7a7;
    font-weight: 300;
}

@media (min-width: 1024px) {
    .secondary__title {
        font-size: 1.8rem;
    }
}

/* --------------------------- */
/* --- WORKS ---*/
/* --------------------------- */

.works {
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works__container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(1fr, 6);
    grid-gap: 1.5rem;
    max-width: 1400px;
    margin: 0 auto;
}

.works__img {
    position: relative;
}

.works__card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: url(../img/frame.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
    transition: .3s;
}

.card__title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    min-width: 150px;
    text-transform: uppercase;
}

.card__title::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 5px 0;
}

.img {
    width: 100%;
    height: 100%;
    filter: saturate(.5) brightness(.8);
    transition: .3s;
}

.works__btn {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: #d07c7c;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px 45px;
    margin-top: 25px;
    transition: .3s;
}

@media (min-width: 1024px) {
    .works__container {
        grid-template-columns: 30% 30% 1fr;
        grid-template-rows: repeat(1fr, 3);
    }

    .img__one {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .img__two {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
    }

    .img__five {
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }

    .works__img:hover .img {
        filter: saturate(.5) brightness(.5);
    }

    .works__img:hover .works__card {
        padding: 40px;
    }

    .works__btn:hover {
        background-color: #b65555;
    }
}

/* --------------------------- */
/* --- REVIEWS ---*/
/* --------------------------- */

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem;
}

.secondary__title--small {
    font-size: 1.3rem;
    text-transform: none;
}

.reviews__slider {
    position: relative;
    width: 100%;
    max-width: 700px;
    height: 180px;
    overflow: hidden;
}

.review__quote {
    position: absolute;
    top: 0;
    width: 100%;
    color: #a7a7a7;
    transition: .5s;
}

.review__quote:nth-of-type(1) {
    left: -100%;
}

.review__quote:nth-of-type(3) {
    left: 100%;
}

.review__author {
    display: block;
    margin-top: 10px;
    font-size: .9em;
}

.review__controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    margin-top: 20px;
}

.review__dot {
    width: 8px;
    height: 8px;
    background-color: #a7a7a7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.review__dot.active {
    width: 10px;
    height: 10px;
    background-color: #b65555;
    border: none;
    border-radius: 50%;
}

@media (min-width: 640px) {
    .reviews__slider {
        height: 120px;
    }
}

/* --------------------------- */
/* --- VIDEO ---*/
/* --------------------------- */


.video {
    padding: 3rem 1.5rem;
}

.video__content {
    position: relative;
}

.video__img {
    width: 100%;
}

.video__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* --------------------------- */
/* --- FOLLOW ME ---*/
/* --------------------------- */